.navabar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70px;
  background-color: blue;
  align-items: center;
}
.left{
  display: flex;
  align-items: center;
}
.item{
 width: 100%;
  border: 1px solid black;
}


.buts{
  height: 40px;
}
table, th, td {
 width: 25%;
 
  /* border: 1px solid; */
}
.tact{
  display: flex;
 justify-content: center;
 align-items: center;
 text-decoration: none;
 font-style: none;
}
.tact button{
  padding:5px 5px ;
}
.total{
  display: flex;
  justify-content: space-between;
}